@import 'components/_colors';
@import 'components/_fonts';

/* RESET */
body,html,ul{margin: 0;
padding: 0;
box-sizing: border-box;}

body{background: $darklight;}

nav {
  height: 100px;
  background: transparent;
  width: 100%;
  position: fixed;
  z-index: 4;
  transition: background-color 200ms linear;
}
.scrolled {
  background-color: darken($blue, 50%) !important;
  transition: all 200ms linear;
  z-index: 1;
  height: 75px;
  line-height: 75px;
  & > .logo{
    line-height: 75px;
  }
}
.logo_change{
  opacity: 1 !important;
  color: $blue !important;
  transition: opacity .75s ease-in;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  text-transform: uppercase;
  transition: all .3s ease;
  &:hover li{
    opacity: .8;
    filter:blur(2px);
  }
  & li:hover{
    opacity: 1;
    filter:blur(0px);
    transition: all .3s ease;
  }
}
.logo{
  position: relative;
  display: inline-block;
  line-height: 100px;
  color: $blue;
  float: left;
  margin-left: 150px;
  font-size: 32px;
  font-family: $montserrat;
  opacity: 0;
  a{
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-in-out;
    &:hover{
      color: $pink;
    }
  }
}
.nav-links li a {
  color: $pink;
  font-family: $poppins;
  text-decoration: none;
  font-size: 20px;
  transition: all .3s ease;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 12px;
    height: 12px;
    border: 3px solid $pink;
    border-width: 0 0 3px 3px;
    transition: all .3s ease;
    opacity: 0;
  }
  &:hover::before{
    bottom: -6px;
    left: -12px;
    opacity: 1;
  }
  &::after{
    content: '';
    position: absolute;
    top: 7px;
    right: 7px;
    width: 12px;
    height: 12px;
    border: 3px solid $pink;
    border-width: 3px 3px 0 0;
    transition: all .3s ease;
    opacity: 0;
  }
  &:hover::after{
    top: -6px;
    right: -12px;
    opacity: 1;
  }
  &:hover{
    color: $blue;
  }
}

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  margin: 100px;
  font-size: 50px;
  color: #ae5fce;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: lighten($blue, 20%);
    margin: 5px;
    &:nth-child(even){
      background: lighten($pink, 30%);
      width: 25px;
    }
  }
  .logo{
    margin-left: 5%;
    color: $grey;
    line-height: 75px;
    font-weight: bold;
  }
  nav {
    position: relative;
    position: fixed;
    width: 100%;
    height: 75px;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 4;
  }

  .nav-links {
    position: fixed;
    background: $dark;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 3;
  }
  .nav-links.open {
    clip-path: circle(1375px at 90% -10%);
    -webkit-clip-path: circle(1375px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}
